/* registration 
     page css 
     starts here */    
/*body*/     
body{
    overflow-x: hidden;
    
   
    
    background-color: black;
    color: white;
    
    margin-bottom:30px;

}
/*registrationcard*/
.registrationcard{
    border: 1px solid rgb(117, 115, 115);
    background-color: rgb(40, 40, 40);
    color: white;
    display: flex;
    height: 550px;
    flex-direction: column;
    width: 340px;
    justify-content: center;
    padding: 20px;padding-bottom: 5px;
    margin-top: 100px;
    position: relative;
    left: 250px;

    
}
/*h2+p*/
 #log p{
    position: relative;
    bottom: 30px;
    color: grey;
}

/* button */
.registrationcard>button{
    color: azure;
    background-color: red;
    height: 40px;
    padding: 5px;
    margin-top: 0px;
}
.otherapps{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    bottom: 15px;
}
#Facebook{
    color: white;
    background-color: rgb(73, 73, 179);
}
#Google{
    color: white;
    background-color: rgb(193, 25, 25);
}
#Twitter{
    color: white;
    background-color: rgb(110, 209, 249);
}
.otherapps button{
    position: relative;
    width: 100px;
    height:40px;
    bottom: 40px;
    margin-top: 20px;   
}
/*input types*/
input[type]{
    height:0px;
    padding: 20px;
    padding-left: 15px;
    background-color:rgb(40, 40, 40) ;
    border: 1px solid white;
    gap: 30px;
    
}
input::placeholder {
  color: #999;
  opacity: 20;
   
}
/* loginwith*/     
.loginwith{
    position: relative;
    top: -15px;
    left: 109px;
}
button+p{
    position: relative;
    bottom: -19px;
}

.loginwith+p{
    position: relative;
    bottom: 60px;
    left:230px;
}
/* i */
i{
    position: relative;
    top: 10px;
    left:-0px;
}



.number p{
    position: relative;
    bottom: 5px;
}
a{
    text-decoration: none;
  color: white;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.heading h2{
    margin-left: 30px;
}

.navbar-icons{
    display: flex;
    gap: 60px;
    margin-right: 50px;
    font-size: large;
    margin-top: 10px;
}
.hovering{
    display: none;
}
.profile-card{
    display: none;
    position: static;
    z-index: 1000;
    background-color: black;
}
.searchbar:hover .hovering{
    display: block;
    position: absolute;
    right: 0px;
    top: 40px;
    padding: 0px 10px;
    border: 1px solid grey;
}
.cart:hover .hovering{
    display: block;
    position: absolute;
    right: 0px;
    top: 40px;
    padding: 0px 10px;
    border: 1px solid grey;
}
.profile-icon:hover .profile-card{
    display: block;
    position: absolute;
    right: 0px;
    width: 300px;
    height: 250px;  
    border: 1px solid gray;   
}
.profile-card button{
    background-color: gray;
    color: white;
    height: 40px;
    width:180px ; 
}
.btn{
  position: relative;
  bottom: 40px;
  right: 10px;
}

.profile-card{
    padding-left: 20px;
   padding-top: 10px;
}

.searchbar{
    position: relative;
}
.cart{
    position: relative;
}
.profile-icon{
    position: relative;
}



